.link {
  display: inline-flex;
  align-items: center;
}

.logo {
  width: auto;
  height: 34px;
}

.logoDark {
  display: none;
}

:global([data-theme="dark"]) .logoLight {
  display: none;
}

:global([data-theme="dark"]) .logoDark {
  display: block;
}

@media (max-width: 640px) {
  .logo {
    height: 28px;
  }
}
